{% extends "base.html" %}
{% block title %}Профиль пользователя {{ username.get_full_name }}{% endblock %}
{% block header %}Профиль пользователя {{ username.get_full_name }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        {% include 'user_profile.html' with items=page paginator=paginator %} 
      </div> 
      <div class="col-md-9">
      <div class="container">
      {% for post in page %}
        {% include 'post_card.html' with post=post %}
      {% endfor %}
    </div>
      {% include "paginator.html" with items=page paginator=paginator %}
       </div>
    </div>
  </main>
{% endblock %} 